body {
  background-size: cover;
  height: 110vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('image.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: row; /* Added to create side-by-side layout */
  width: 600px;
  padding: 80px;
  border: 2px solid #4b4b4b3e;
  background-color: rgba(73, 73, 73, 0.399);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.login-form .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 80%;
  text-align: center;
  padding-right: 80px;
}

.login-form .right-section {
  display: flex;
  flex-direction: column;
  flex-basis:200%;
  
}

.login-form h2 {
  margin-bottom: 50px;
  margin-top: 10px;
  color: #ecedee;
  text-align: center;
  font-size: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #007BFF;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f0f8ff;
  color: #333;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #0056b3;
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
}

button {
  margin-right: 100px;
  background-color: #007BFF;
  border: none;
  padding: 20px 80px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #2f56b9;
  transform: scale(1.02);
}
